{% extends 'HalfFull/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1 class="display-4">About HalfFull</h1>
  <p class="lead">HalfFull is a Web App which allows you to find pubs which suit your interests and keep track of them by adding the mto your own personal Crawl.
  Created as a second year group project by Glasgow University Computing Science students, Ben Lynch and Drew Galloway, in 2020</p>
  <hr class="my-4">
</div>
{% endblock %}