{% extends 'HalfFull/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %} 
<div class="jumbotron p-4">
	<div class="container">
	<h1 class="jumbotron heading">Welcome to HalfFull</h1>
	<p class="lead">The app for all your drinking needs</p>
	{% if user.is_authenticated %}
		<p class="lead">welcome back {{ user.username }}</p>
	{% endif %}
	</div>
  </div>
  
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
	  <a href="/HalfFull/make_a_crawl/">
      <img src="/static/images/pub_crawl.jpg" class="d-block w-100" alt="pub crawl">
      <div class="carousel-caption d-none d-md-block">
        <h5>Plan your night out</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
	<a href="/HalfFull/pub_list/">
      <img src="/static/images/pubs.jpg" class="d-block w-100" alt="pubs">
      <div class="carousel-caption d-none d-md-block">
        <h5>Find New Pubs</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
	  <a href="/HalfFull/signup">
      <img src="/static/images/profile.jpg" class="d-block w-100" alt="profile">
      <div class="carousel-caption d-none d-md-block">
        <h5>SignUp to become part of HalfFull</h5>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}