{% extends 'HalfFull/base.html' %}
{% load staticfiles %}

{% block title_block %}
    SignUp
{% endblock %}

{% block body_block %}
<h1>Register for HalfFull</h1>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'HalfFull:home' %}">Return to the homepage.</a><br />
{% else %}
<strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'HalfFull:signup' %}"
	enctype="multipart/form-data">
	
	{% csrf_token %}
	
	{{ user_form.as_p }}
	
	<input type="submit" name="submit" value="singup" /> 
</form>
{% endif %}
{% endblock %}